.home-icon {
    padding-right: 9.4px;
    margin-left: -5px;
}

.inventory-icon {
    padding-right: 15px;
}

.documents-icon {
    padding-right: 11.5px;
}

.settings-icon {
    padding-right: 10.49px;
}

.icon-div {
    margin-top: 19.5px;
}

.tab-name a {
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #6B6C72;
}

@media only screen and (min-width: 768px) {
    .side-tabs {
        padding-left: 35px;
        padding-top: 35.5px;
    }
}

@media only screen and (max-width: 425px) {
    .side-tabs {
        padding-bottom: 20px;
        padding-left: 30px;
        box-shadow: 0px 5px 5px rgba(136, 136, 136, 0.7), 0px -5px 5px rgba(136, 136, 136, 0.568);
    }
}

@media only screen and (max-width: 768px) {
    .sidebar {
        background: #F2F2F3;
        height: 50px;
    }
}

@media only screen and (max-width: 769px) {
    .tab-name {
        display: none;
    }
}

@media only screen and (max-width: 425px) {
    .side-tabs {
        display: flex;
        justify-content: space-between;
        background: #ffff;
    }
}